@PrefixCls: InputGroupLogin;
@InputHeight: 32px;
@InputWidth: 194px;

.@{PrefixCls} {
  box-sizing: border-box;
  display: inline-block;
  width: @InputWidth;
  border: 0;

  &-Account {
    width: 100%;
    height: @InputHeight;
    border: 1px solid gainsboro;
    border-radius: 4px 4px 0 0;

    &:hover {
      border-color: dodgerblue;
    }

    & div {
      height: 100%;
      border: none;

      & input {
        vertical-align: top;
        width: 85%;
        height: 100%;
        padding-left: 6px;
        border: none;
        border-radius: 4px 0 0 0;
        outline: none;
      }

      & i {
        vertical-align: top;
        display: inline-block;
        width: 15%;
        height: 100%;
        color: darkgrey;
        border: none;
        background-color: white;
        border-radius: 0 4px 0 0;

        & svg {
          height: 100%;
        }

        &:hover {
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }

    &-Menu {
      padding: initial;
      background-color: white;

      .rc-menu-item {
        padding: initial;
      }


      //[class="rc-menu-item rc-menu-item-active rc-menu-item-selected"] {
      //  width: 48px;
      //  height: 48px;
      //  line-height: 24px;
      //  background-color: #eaf8fe;
      //  transform: translateZ(0);
      //}

    }
  }

  &-Password {
    display: inline-block;
    width: 100%;
    height: @InputHeight;
    margin-top: -1px;
    border: 1px solid gainsboro;
    border-radius: 0 0 4px 4px;
    border-top-color: rgba(220, 220, 220, 0);

    &:hover {
      border-color: dodgerblue;
    }

    & input {
      vertical-align: top;
      width: 85%;
      height: 100%;
      padding-left: 6px;
      border: none;
      border-radius: 0 0 0 4px;
      outline: none;
    }

    & i {
      vertical-align: top;
      display: inline-block;
      width: 15%;
      height: 100%;
      color: darkgrey;
      border: none;
      background-color: white;
      border-radius: 0 0 4px 0;

      & svg {
        height: 100%;
      }

      &:hover {
        color: rgb(69, 150, 215);
      }
    }

  }

}

.avatar-size(@size, @font-size) {
  width: @size;
  height: @size;
  line-height: @size;
  border-radius: 50%;
}