# mirror
registry=https://registry.npm.taobao.org/
NVM_NODEJS_ORG_MIRROR=https://npm.taobao.org/mirrors/node
NVM_IOJS_ORG_MIRROR=https://npm.taobao.org/mirrors/iojs
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
SQLITE3_BINARY_SITE=https://npm.taobao.org/mirrors/sqlite3

