.contact-info-wrapper{
    width: 100%;
    position: relative;
}
.chat-content-wrapper{
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.header{
    height: 170px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.user-name{
    font-size: 30px;
}
.user-icon{
    width: 60px;
    height: 60px;
    float: right
}
.white-space{
    display: inline-block;
    width: 30px;
    height: 100%;
}
.content{
    height: 170px;
    padding-top: 30px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
.item {
    height: 40px;
    line-height: 40px;
    display: flex;
}
.footer{
    height: 170px;
    width: 100%
}
.button-style{
    margin: 30px auto;
    width: 150px;
    display: block;
}