.group-content-wrapper {
    flex: 1;
    padding: 0px 0px 20px 20px;
    height: 100%;
    /* position: relative; */
}
.group-member-title{
    font-size: 15px;
    height: 30px;
    line-height: 30px;
}
.group-item {
    width: 60px;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
}
.deal {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 28px;
    font-size: 40px;
    border: 1px solid #ccc;
    font-weight: 100;
    text-align: center;
}
.name {
    display: inline-block;
}
.ul-wrapper {
    /* position: absolute;
    bottom: 0px; */
    padding-top: 20px;
    list-style: none;
}
.li-wrapper{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}
.title{
    display: inline-block;
    width: 100px;
    text-align: justify;
}
.send-message {
    margin-top: 20px;
    text-align: center;
}