.message-box {
    height: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.message-box .right-box{
    float:right;
    margin-top:10px;
    width: 100%;
    min-height: 60px;
}
.right-box .right-content{
    clear: both;
    /* overflow: hidden; */
}
.message-box .right-pic{
    float:right;
    margin:0 10px 0 0;
}
.message-box .right-title{
    height: 20px;
}
.right-box .title{
    float: right;
    color:black;
    line-height:20px;
    font-size:13px;
    font-family: inherit;
    margin-right: 20px;
}
.message-box .right-msg{
    max-width: 70%;
    float: right;
    background-color: #fff;
    box-shadow: 0 0 3px #ccc;
    margin: 0 10px 0 0;
    font-family: inherit;
    display: block;
    padding: 6px 6px;
    font-size: 14px;
    position:relative;
}
.message-box .left-box{
    float:left;
    margin-top:10px;
    width: 100%;
    min-height: 60px;
    margin-bottom: 5px;
}
.left-box .left-content{
    clear: both;
    /* overflow: hidden; */
}
.message-box .left-pic{
    float:left;
    margin:0 10px 0 10px;
}
.message-box .left-title{
    height: 20px;
}
.message-box .right-title{
    height: 20px;
}
.left-box .title{
    float: left;
    color:black;
    line-height:20px;
    font-size:13px;
    font-family: inherit;
    margin-right: 20px;
}
.message-box .left-msg{
    max-width: 70%;
    float: left;
    font-family: inherit;
    display: block;
    font-size: 14px;
}
.left-msg-content{
    box-shadow: 0 0 3px #ccc;
    margin: 0 10px 0 0;
    padding: 6px;
    background-color: #fff;
    position:relative;
}
.message-box .left-msg:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    border: solid 8px;
    border-color: transparent transparent transparent #f4f4f4;
    font-size: 0;
    left: -18px;
    transform: rotate(180deg);
    top: 8px;
}
.message-box .right-msg:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    border: solid 8px;
    border-color: transparent transparent transparent #f4f4f4;
    font-size: 0;
    right:-17px;
    transform: rotate(0deg);
    top: 8px;
    display:inline;
}
.right-wrapper{
    height: 60px;
}