.headerName{
    font-size: 16px;
    font-weight: 500;
    -webkit-app-region: no-drag;
}
.nick{
    font-size: 14px;
}
.windowHeader{
    position: relative;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    -webkit-app-region: drag;
}
.headerIcon {
    position:absolute;
    top: -10px;
    right: 10px;
}
.Icon{
    font-size: 18px;
    padding-left: 10px;
    -webkit-app-region: no-drag;
}
