.login {
  margin: 10px auto;
  width: 430px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #888888;

  &-canvas {
    position: absolute;
    z-index: 1;
  }

  &-upper {
    position: relative;
    height: 183px;
    border-radius: 4px 4px 0 0;
    background-color: #108ee9;
    -webkit-app-region: drag;
    -webkit-user-select: none;

    &-operate-icon {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      z-index: 1;

      &-close {
        display: inline-block;
        width: 30px;
        height: 30px;
        -webkit-app-region: no-drag;

        &:hover {
          background-color: red;
          border-top-right-radius: 4px;
        }

        & i {
          margin: 10px;

          & svg {
            width: 11px;
            height: 11px;
          }
        }
      }

      &-minus {
        display: inline-block;
        width: 30px;
        height: 30px;
        -webkit-app-region: no-drag;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        & i {
          margin: 10px;

          & svg {
            width: 11px;
            height: 11px;
          }
        }
      }

      &-setup {
        display: inline-block;
        width: 30px;
        height: 30px;
        -webkit-app-region: no-drag;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        & i {
          margin: 10px;

          & svg {
            width: 11px;
            height: 11px;
          }
        }
      }

    }
  }

  &-lower {
    height: 148px;
    border-radius: 0 0 4px 4px;
    background-color: gainsboro;
    -webkit-user-select: none;

    &-input-group-login {
      margin-left: 32px;
    }

    &-button {
      margin-top: 28px;
      margin-left: 32px;
      width: 194px;
      height: 31px;
      font-size: 12px;
      font-weight: normal;
    }
  }
}

