.login {

  &-upper {
    min-height: 182px;
    background-color: #108ee9;
    border-radius: 4px;
    -webkit-app-region: drag;
    -webkit-user-select: none;

    &-operate-icon {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-app-region: no-drag;

      &-close {
        display: inline-block;
        width: 30px;
        height: 30px;

        &:hover {
          background-color: red;
        }

        & i {
          margin: 10px;

          & svg {
            width: 11px;
            height: 11px;
          }
        }
      }

      &-minus {
        display: inline-block;
        width: 30px;
        height: 30px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        & i {
          margin: 10px;

          & svg {
            width: 11px;
            height: 11px;
          }
        }
      }
    }
  }
}

