.login {
  position: absolute;
  margin: 10px;
  width: 430px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #888888;
  backface-visibility: hidden;

  &-canvas {
    position: absolute;
    z-index: 1;
  }

  &-upper {
    position: relative;
    height: 183px;
    border-radius: 4px 4px 0 0;
    background-color: #108ee9;
    -webkit-app-region: drag;
    -webkit-user-select: none;

    &-operate-icon {
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      z-index: 1;

      &-close {
        display: inline-block;
        width: 30px;
        height: 30px;
        -webkit-app-region: no-drag;

        &:hover {
          background-color: red;
          border-top-right-radius: 4px;
        }

        & i {
          margin: 10px;

          & svg {
            width: 11px;
            height: 11px;
          }
        }
      }

      &-minus {
        display: inline-block;
        width: 30px;
        height: 30px;
        -webkit-app-region: no-drag;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        & i {
          margin: 10px;

          & svg {
            width: 11px;
            height: 11px;
          }
        }
      }

      &-setup {
        display: inline-block;
        width: 30px;
        height: 30px;
        -webkit-app-region: no-drag;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        & i {
          margin: 10px;

          & svg {
            width: 11px;
            height: 11px;
          }
        }
      }

    }
  }

  &-lower {
    height: 148px;
    border-radius: 0 0 4px 4px;
    background-color: #f6fdfd;
    -webkit-user-select: none;

    &-input-group-login {
      display: flex;
      padding-top: 12px;

      div:nth-child(1) {
        flex: 0 137px;
      }

      div:nth-child(3) {
        font-size: 12px;

        & > a {
          display: block;
          margin-left: 12px;
        }

        a:nth-child(1) {
          margin-top: 4px;
        }

        a:nth-child(2) {
          margin-top: 14px;
        }
      }
    }

    &-button {
      margin-top: 10px;
      margin-left: 138px;
      width: 194px;
      height: 31px;
      font-size: 12px;
      font-weight: normal;
    }
  }

}

.setup {
  position: absolute;
  margin: 10px;
  width: 430px;
  height: 331px;
  background-color: #f6fdfd;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #888888;
  backface-visibility: hidden;
  transform: rotateY(180deg);

  & > a {
    display: block;
    font-size: 18px;
    line-height: 280px;
    text-align: center;
  }
}

.window {
  perspective: 1000px;

  & > div {
    position: relative;
    width: 450px;
    transform-style: preserve-3d;
    transition: transform 1.0s cubic-bezier(0, .75, .25, 1);
  }

}

.window-rotate {
  composes: window;

  & > div {
    transform: rotateY(-180deg);

    div:nth-child(1) {
      display: none;
    }
  }

}
