.input-wrapper{
    width: 80%;
    display: flex;
    margin: 20px auto 10px auto;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.input-icon {
    font-size: 24px;
    vertical-align: middle;
    color: #aaa;
}
.input-content {
    flex: 1;
    border: none;
}
.input-content:focus{
    box-shadow: 0 0 0 2px transparent;
}
.input-btn {
    background-color: #108ee9;
    color: #fff;
    border: none;
    flex: 1;
    cursor: pointer;
}
.input-btn:focus{
    outline: transparent auto 5px;
}
.dis-input-btn:hover{
    opacity: 0.5;
    cursor: not-allowed;
    outline: transparent auto 5px;
}
.footer{
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
}
.input-btn {
    width: 80%;

}
.footer-span{
    width: 80%;
    margin: 3px auto;
    color: #108ee9;
    display: block;
    text-align: right;
}
.error {
    display: block;
    width: 80%;
    margin: 0px auto;
    text-align: left;
    color: #f00;
    font-size: 12px;
    position: absolute;
    top: -17px;
}
.no-error {
    display: none
}